<template>
    <section>
        <div class="flex">
            <div class="max-w-xs">
                <label for="wallet" class="block text-sm font-medium text-gray-700">Тикер {{ ticker }}</label>
                <div class="mt-1 relative rounded-md shadow-md">
                    <input
                        v-model="ticker"
                        v-on:keydown.enter="add"
                        @keyup="showPrompts"
                        @keydown.delete="add"
                        type="text"
                        name="wallet"
                        id="wallet"
                        class="block w-full p-2 pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md mb-2"
                        placeholder="Например DOGE"
                    />
                </div>
                <div v-if="isPrompts && ticker.length > 0 && prompts.length > 0" class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap mb-2">
                            <span
                                v-for="prompt in prompts"
                                :key="prompt"
                                @click="clickPrompt(prompt)"
                                class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer">
                              {{ prompt }}
                            </span>
                </div>
                <div @changeNotificationAlreadyChoice="changeNotificationAlreadyChoice()" v-if="isNotificationAlreadyChoice" class="text-sm text-red-600">Такой тикер уже добавлен</div>
            </div>
        </div>
        <add-button
            v-on:click="add"
            :disabled="disabled"
        >
        </add-button>
    </section>
</template>

<script>
import AddButton from "@/components/AddButton";

export default {
    name: "AddTicker",
    components: {
        AddButton
    },
    props: {
        isNotificationAlreadyChoice: {
            type: Boolean
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false,
        }
    },
    emits: {
        'add-ticker': value => typeof value === "string" && value.length > 0
    },
    data() {
        return {
            ticker: '',
            isPrompts: true,
            prompts: [],
            coins: null,
        }
    },
    methods: {
        add(event) {
            if (this.ticker.length === 0) {
                return
            }
            let key = '';
            if (event !== undefined) {
                key = event.key
            }
            this.$emit('add-ticker', this.ticker, key)
        },
        showPrompts() {
            this.prompts = []

            for (let key in this.coins) {
                if (key.toUpperCase().includes(this.ticker.toUpperCase())
                    || this.coins[key].FullName.toUpperCase().includes(this.ticker.toUpperCase())) {

                    if (this.prompts.length < 4) {
                        this.prompts.push(key)
                    }
                }
            }
            this.isPrompts = true
        },

        clickPrompt(prompt) {
            this.ticker = prompt
            this.add()
            this.isPrompts = false
        },

        async getListTickers() {
            let response = await fetch('https://min-api.cryptocompare.com/data/all/coinlist?summary=true');
            let data = await response.json()

            this.coins = data.Data
        }
    },
    mounted() {
        this.getListTickers()
    }
}
</script>

<style scoped>

</style>
